# My first hello world in Python

In [1]:
print("Hello World!")

Hello World!

# Indentation

In [2]:
x = 5
if x < 3:
    print ("Yes!")
else:
    print("No!")

No!

# My first comment

In [5]:
"""
This is a multi-line comment
that spans multiple lines.
"""
print("my comment")

my comment

# Variables

In [6]:
#integer
Age = 25

#float
temperature = 36.6

#string
greet = "hello world"

In [7]:
print("Age : ",Age)

Age :  25

In [8]:
print("Suhu : ",temperature)

Suhu :  36.6

In [9]:
print("Salam ; ",greet)

Salam ;  hello world

# Data Type

In [11]:
print(type(Age))
print(type(temperature))
print(type(greet))

<class 'int'>
<class 'float'>
<class 'str'>

# Prompting

In [12]:
age = input("Umur berapa? ")
height = input("Tinggi berapa ye? ")
weight = input("Berat berapa pula? ")

print(f"So,  you're {age} years old. {height} tall, and {weight} heavy.")

Umur berapa?  35 tahun
Tinggi berapa ye?  171 cm
Berat berapa pula?  110 kg

So,  you're 35 tahun years old. 171 cm tall, and 110 kg heavy.

In [16]:
print(So, you're age is {}. height is {}, weight is {}".format(age,height,weight)

SyntaxError: unterminated string literal (detected at line 1) (1432339880.py, line 1)

In [17]:
print("So, your age is {}. Height is {}, weight is {}".format(age, height, weight))

So, your age is 35 tahun. Height is 171 cm, weight is 110 kg

# List

In [18]:
fruits = ["apple","banana", "cherry"]
print(fruits[0])

apple

In [19]:
fruits[1] = "blueberry"
print(fruits)

['apple', 'blueberry', 'cherry']

# Tuples

In [20]:
coordinates = (10,20)
print(coordinates[0])

10

# Dictionaries

In [22]:
person = {"name": "Raheym","age":25}
print (person["name"])

Raheym

In [23]:
person["age"] = 26
print(person)

{'name': 'Raheym', 'age': 26}

# Functions

In [24]:
def my_function(x):
    return 5 * x
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [25]:
def my_function(x,y):
    return y * x
print(my_function(3,3))
print(my_function(5,5))
print(my_function(9,7))

9
25
63